<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Jacob Kroeker List App</title>
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/saltire.css' %}" />
    <link rel="stylesheet" href="{% static 'css/input-field-group.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global-form-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/checkboxes.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="content">
    {% block content %}
    {% endblock %}
    <a href="{% url 'logout_view' %}" class="nav-link">Logout</a>
    </div>
  </body>
  {% block js %}
  {% endblock %}
</html>